*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: white;
  background-color: grey;
}

img {
  display: block;
  // max-width: 100%;
  // height: auto;
}
ul {
  display: block;
  list-style: none;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 40px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gallery-item {
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.gallery-item img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
.gallery-item img:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
.stats {
  position: absolute;
  bottom: 0;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(42, 42, 42, 0.8);
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}
.stats-item {
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.material-icons {
  font-size: large;
  margin-right: 3px;
}
.mat .articles a {
  text-decoration: none;
  color: #2a2a2a;
}
